head
form(method='GET' action='/subscribedLists')
  input(type='checkbox' name='Sports' value = 'Sports')
  |  Sports
  br
  input(type='checkbox' name='Business' value = 'Business')
  |  Business
  br
  input(type='checkbox' name='International' value = 'International')
  |  International
  br
  input(type='checkbox' name='Political' value = 'Political')
  |  Political
  br
  input(type='checkbox' name='Entertainment' value = 'Entertainment')
  |  Entertainment
  br
  input(type='checkbox' name='Editorials' value = 'Editorials')
  |  Editorials
  br
  input(type='submit')
